* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    padding: 40px 80px 30px 80px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header li {
    margin-right: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #07043B;
}

header li:hover {
    transform: scale(115%);
}

article {
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.storeSession h1 {
    width: 627px;
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #07043B;
}

.storeSession p {
    width: 585px;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.storeSession input {
    width: 320px;
    height: 45px;
    padding: 14px 14px 12px 21px;
    margin-right: 15px;
    border: none;
    outline: 0.625px solid #07043B;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
}

.storeSession input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #C2C2C2;
}

.button {
    width: 200px;
    height: 45px;
    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border: none;
    border-radius: 3.125px;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.illustration img {
    max-width: 640px;
    min-width: 304px;
    max-height: 474px;
    min-height: 225px;
}

.featureArticle {
    background: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
}

.featureSection h2 {
    margin-bottom: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #07043B;
}

.featureSection .sectionDescription {
    margin-bottom: 16px;
    width: 529px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #07043B;
}

.featureSection a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3DA08F;
    text-decoration: underline;
}

.featureSection .testimonialCard {
    margin-top: 40px;
    padding: 20px 34px;
}

.descriptionTestimonial {
    width: 289px;
    margin: 10px 0 16px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #07043B;
}

.formWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.formWrapper img {
    width: 50px;
    height: 50px;
}

.testimonialAuthor {
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.55px;
    color: #07043B;
}

.testimonialFunction {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: #07043B;
}

.contact {
    padding: 52px 68px 52px 68px;
    background: #575988;
}

.contact h2 {
    margin-bottom: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.contact p {
    width: 533px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.contactCart {
    display: flex;
    flex-direction: column;
}

.contactCart input {
    width: 480px;
    height: 48px;
    margin-bottom: 16px;
    padding: 16px 0 16px 24px;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border: none;
    border-radius: 3.125px;
    outline: none;
}

footer {
    background: #07043B;
    display: flex;
    justify-content: space-around;
    padding: 80px 0 60px 0;
}

footer figure {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    gap: 8px;
}

footer nav {
    gap: 7px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.links:hover {
    opacity: .7;
}

.icons:hover {
    opacity: .5;
}

@media (max-width: 1099px) {
    article {
        display: flex;
        flex-direction: column-reverse;
        padding: 60px 0 40px 40px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .storeSession h1 {
        width: 640px;
    }

    .storeSession p {
        width: 540px;
    }

    .submit {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .submit input {
        width: 380px;
    }

    .illustration img {
        width: 450px;
        height: 320px;
        margin: 30px 0px 20px 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactCart {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .contactCart input {
        margin-top: 20px;
        width: 380px;
    }

    .button {
        width: 380px;
    }
}

@media (max-width: 695px) {
    header {
        padding: 24px;
    }

    header img {
        width: 80px;
        height: 24px;
    }

    header li a {
        font-size: 12px;
        line-height: 14px;
    }

    .storeSession h1 {
        width: 320px;
        font-size: 24px;
        line-height: 36px;
    }

    .illustration img {
        width: 300px;
        height: 200px;
    }

    .storeSession p {
        width: 296px;
        font-size: 14px;
        line-height: 21px;
    }

    .featureSection h2 {
        width: 259px;
        font-size: 16px;
        line-height: 24px;
    }

    .featureSection .sectionDescription {
        width: 320px;
        font-size: 14px;
        line-height: 21px;
    }

    .contact h2 {
        width: 195px;
        font-size: 18px;
        line-height: 24px;
    }

    .contact p {
        width: 280px;
        font-size: 14px;
        line-height: 21px;
    }

    footer {
        padding: 20px;
        flex-direction: column;
    }

    footer section {
        display: flex;
        align-items: flex-start;
    }

    footer nav {
        display: flex;
        justify-content: center;
    }
}